body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    text-align: center;
}

#download-section, #features-section {
    margin: 2rem 0;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
